@font-face {
	font-family: 'app-font';
	src: url(app-font.ttf);
}

html, body {
	font-family: app-font !important;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	overflow-x: hidden;
}

body {
	opacity: 0;
	transition: opacity 0.5s;
}

.starts-hidden {
	display: none !important;
}

.app-title {
	font-weight: normal;
}

.main-base {
	position: absolute;
	z-index: 0;
	width: 100%;
}

.main-edit-tracker {
	position: relative;
	z-index: 1;
	overflow: auto;
}

.text-no-line-break {
	white-space: nowrap;
}

.modal-fullscreen {
	height: 100% !important;
	max-height: 100% !important;
	width: 100% !important;
	max-width: 100% !important;

	margin-right: 0px !important;
	margin-left: 0px !important;
}

.pin-key {
	background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(255,255,255,0) 60%);
}